[2015-12-07 18:14] martiansideofthemoon opened #12 "Fixed width for table columns"
Our current table [1] extends beyond the screen when the "subtest" field is too long. Constraining it to a fixed value seems like a good idea.
[1] - https://github.com/jgraham/wptview/blob/master/index.html#L13

[2015-12-07 18:16] martiansideofthemoon opened #13 "Display the error message, if any"
The table has no support for displaying the error message for tests that fail. We need some UI to display messages for such tests. The UI decided is a panel fixed to the bottom that opens on clicking the status and closes on clicking anywhere else. The error message is stored here [1]. It can be accessed via `$scope.results.runs[<some_index>].message`. Something similar to `status` in [2]

[1] - h

[2015-12-07 18:17] martiansideofthemoon opened #14 "Add a loading dialog while logs are ingested"
Logs do take some time to make their way into the database. In the meantime, the user shouldn't be allowed to interact. (For now, we could queue log files in the future). A loading dialog of some form seems an option here. The button being talked about is [1] and [2]. This spinner should rotate until `busy` goes to `false`.

[1] - https://github.com/jgraham/wptview/blob/442ae4ff68c61a03c16789d6299

[2015-12-07 18:19] martiansideofthemoon opened #15 "Change conditions for displaying Crunch / Generate button"
The generate button is enabled only when logs are loaded. However, we may already have some logs ingested into the system. In such cases, the Generate button should be active along with the filtering system. Currently, `isGenerateDisabled` governs the state of the button. This should probably be changed as suggested by #17

[2015-12-07 18:20] martiansideofthemoon opened #16 "Speeding up log ingestion"
The current scheme of log ingestion takes upto a minute for reasonably large mozlog. Code profiling is needed to decide which functions to optimize here.

[2015-12-07 18:22] martiansideofthemoon opened #17 "Cleaning up form checks, variable names"
isGenerateDisabled is a misleading name in the current scenario. We have a lot of variables governing which form elements are to be shown / not shown. A systematic procedure for the same will be needed as the web app grows.

[2015-12-07 20:48] jgraham opened #18 "Move log parsing to a web worker"
Parsing logs currently blocks the main thread; it should instead be moved to a worker so the application remains responsive.

[2015-12-08 20:11] martiansideofthemoon opened #19 "Show meaningful text under "subtest" for parent tests"
In the current model, the keyword `undefined` pops up under the "Subtest" column when we show a parent test. Something more meaningful can be placed here.

[2015-12-09 20:50] martiansideofthemoon opened #21 "Add an ALL option to the runs column"
So the current filtering structure allows us to build queries like "Gecko has STATUS = PASS or OK or SKIP". If we want to get all results which show ERROR for all runs (Servo and Gecko let's say), then we will need to add two constraints, the first saying "Gecko is ERROR" and the second saying "Servo is ERROR". It would be convinient if we could add an "ALL" option (implying both Gecko and Servo a

[2015-12-11 09:02] martiansideofthemoon opened #22 "Setup a lint for this project"
A lint needs to be setup to ensure detection of errors like trailing spaces, space on either side of operators, indentation misses, and other **nits**.

[2015-12-11 14:25] martiansideofthemoon opened #23 "Filter by parent/child, by test path, by multiple allowed statuses"

[2015-12-11 14:26] martiansideofthemoon opened #24 "Multiple filters combined by AND"

[2015-12-11 14:26] martiansideofthemoon opened #25 "Ability to load more than the first page of results"

[2015-12-11 14:26] martiansideofthemoon opened #26 "Ability to set how many results to see at a time"

[2015-12-11 14:26] martiansideofthemoon opened #27 "Ability to dump the full set of results as some text format for further processing"

[2015-12-11 14:27] martiansideofthemoon commented on #24
#20

[2015-12-11 15:58] #24 closed, assigned to nobody

[2015-12-11 16:12] martiansideofthemoon opened #28 "Replace the checkbox with a drop down list, of the form is / is_not"

[2015-12-11 20:53] martiansideofthemoon opened #29 "Create a UI to show warning messages"
A number of warning messages arise when the same test / subtest pair is run.

[2015-12-13 16:12] martiansideofthemoon opened #31 "Add styling via CSS"

[2015-12-13 17:58] #28 closed, assigned to nobody

[2015-12-13 20:11] martiansideofthemoon commented on #12
Moved to a more general issue, #31

[2015-12-13 20:11] #12 closed, assigned to nobody

[2015-12-14 22:21] #19 closed, assigned to nobody

[2015-12-14 23:23] martiansideofthemoon opened #34 "Cross run status checks"
Answer queries like `run1.status != run2.status`. Can be done via adding a new option under `<select>`

[2015-12-15 00:01] martiansideofthemoon opened #36 "Clear table is really slow"
Clear button is taking quite some time. It might help to drop tables / database instead.

[2015-12-15 00:41] klahnakoski opened #37 "Use ActiveData instead of text logs?"
ActiveData [1] indexes all tests from all structured logs, including logs for web-platform-tests.  It is accessible via a public service endpoint [2].   Unfortunately, ActiveData only indexes the `subtests` if they fail [3].  Turning on indexing for all `subtests` can be done easily, if required.

Hopefully you find ActiveData to be faster, with more data, and easier to explore.

[1] http://active

[2015-12-15 10:03] jgraham commented on #37
That would make sense if the only goal here was to view runs from Mozilla CI. However there are a couple of other requirements we have, notably the ability to view logs produced in other browsers so that we can do e.g. Gecko vs Blink or Servo vs Gecko comparisons. Since that data isn't in ActiveData we would require the ability to ingest log files directly anyway. Given that, adding AD as a data s

[2015-12-15 13:34] #37 closed, assigned to nobody

[2015-12-17 10:14] #15 closed, assigned to nobody

[2015-12-17 10:15] #17 closed, assigned to nobody

[2015-12-17 10:15] #31 closed, assigned to nobody

[2015-12-28 13:35] martiansideofthemoon opened #40 "Next button causes some problem"
In the last page of pagination, pressing NEXT makes the interface unusable. We could probably disable the button here. The same error is also observed when no results are found. `test_id` cannot be null is the error.

[2015-12-29 06:21] #18 closed, assigned to nobody

[2015-12-29 06:21] #25 closed, assigned to nobody

[2015-12-29 15:54] martiansideofthemoon opened #41 "Clean up issue"
So we need to do 2 things here.
1. _Tidy up filter variables to a neat nested object_ - So as one can see in [1], we have three objects being passed around, namely `$scope.filter`, `$scope.pathFilter` and `$scope.testTypeFilter`. If we could wrap it up in a JSON like,

[code]

So we pass this composite object rather than three parameters. Corresponding changes need to be made in the functions defi

[2015-12-29 16:52] #26 closed, assigned to nobody

[2015-12-31 18:35] #34 closed, assigned to martiansideofthemoon

[2015-12-31 20:55] martiansideofthemoon opened #45 "Add support to show total number of results for a given filter"

[2016-01-01 12:08] CodeMaxx commented on #41
@martiansideofthemoon I would like to work on this issue

[2016-01-01 12:09] martiansideofthemoon commented on #41
Hi @CodeMaxx, I hope the description suffices. Do let me or @jgraham know if you need some more information. Assigning it to you. File a PR when you are done.

[2016-01-01 12:10] CodeMaxx commented on #41
Thanxx. I'm on it.

[2016-01-01 12:22] CodeMaxx commented on #41
Recommended name for the json object?

[2016-01-01 12:24] martiansideofthemoon commented on #41
`filter` would do. Give a shot at it, I'll tell you more at the PR

[2016-01-01 12:25] CodeMaxx commented on #41
cool

[2016-01-01 17:13] martiansideofthemoon commented on #41
Thank you @CodeMaxx :smile:

[2016-01-01 17:13] #41 closed, assigned to nobody

[2016-01-01 19:01] jgraham commented on #14
FWIW I think we should find a little spinner action and after one clicks any button that sets `busy = true` display the spinner next to that button so it's clear what's going on.

[2016-01-01 19:02] jgraham opened #48 "Allow ingesting logs by url"
For importing logs from e.g. treeherder it would be useful if one could specify the url to a log file rather than having to save the file locally first.

[2016-01-01 19:03] #23 closed, assigned to martiansideofthemoon

[2016-01-01 19:06] jgraham opened #49 "Make tool work offline"
The log viewer should be usable entirely offline. There are two ways we could achieve this:
- Put everything in a single giant file. This is easy but probably not that efficient.
- Add a service worker that caches the scripts offline when no connection is available

[2016-01-01 19:13] jgraham commented on #27
A reasonable format might be that produced by https://github.com/w3c/wpt-tools/blob/master/runner/runner.js#L547

[2016-01-02 18:59] sumith1896 commented on #22
By `lint`, you mean Python scripts will do or are there some standard Moz way of doing this?

I could give a Python script.

[2016-01-02 19:02] sumith1896 commented on #48
I'm on this.

[2016-01-02 19:06] martiansideofthemoon commented on #22
python scripts will do :smile:

[2016-01-02 19:07] sumith1896 opened #50 "Import Log takes forever on Firefox"
Works on Chromium though.
Reported to @martiansideofthemoon

![bug](https://cloud.githubusercontent.com/assets/9217608/12075779/1dadcdd0-b1b2-11e5-88dc-c45f2d886a1b.png)

[2016-01-02 19:22] sumith1896 commented on #22
Could you list the exact set of lints you need to get this closed?

[2016-01-02 19:29] martiansideofthemoon commented on #50
So this seems to be more of an issue with `SimpleHTTPServer` rather than repository itself. Thank you for reporting it, I'll need to make changes to `README.md`. The repository works on Firefox when added to `/var/www/html/`.

[2016-01-02 19:39] sumith1896 commented on #14
Are the line numbers pointing correctly? I think some new commits made them point to wrong lines.
Press `y` and clicking on a line number to add the commit hash to the url, this preserves it for future usage.

[2016-01-02 19:57] sumith1896 commented on #21
Could you elaborate? I would like to fix this.

[2016-01-03 06:43] cruck12 opened #53 "Move to a Node.js server"
Lightweight Node server would be perfect for hosting the service.
Would address compatibility issues plus get it ready for production.

[2016-01-03 15:24] martiansideofthemoon commented on #50
So closing this for now, as #53 describes the problem better. I'll talk to @jgraham once about the best way to host it on localhost. Thanks for your contributions :smile:

[2016-01-03 15:34] martiansideofthemoon commented on #22
So trailing spaces, correct "two spaces" indentation, space on either side of operators, use of `===` instead of `==`, space after comma are some of the nits that need to be addressed by the lint file.

[2016-01-03 15:36] martiansideofthemoon commented on #53
@cruck12 , thanks for the idea. I'll talk to @jgraham about the best hosting mechanism for this repository and get back on this issue. For now, I'll edit [README.md](https://github.com/jgraham/wptview/blob/master/README.md) with a browser specification.

[2016-01-03 16:12] martiansideofthemoon commented on #14
@Sumith1896, yeah we have had a lot of changes in wptview. Thanks for the tip, I've followed it and updated the description. Do tell me if you are interested in this issue.

[2016-01-03 16:18] martiansideofthemoon commented on #21
@Sumith1896 , I've updated the issue description. If you would like to work on it, I'll go about describing a brief procedure to solve it along with some code hints.

[2016-01-03 16:22] martiansideofthemoon opened #54 "Add appropriate JS docs to the project"
Since we have an inflow of new contributors, it is a good idea to describe functions using JS docs to help new contributors. I think [LovefieldService.js](https://github.com/jgraham/wptview/blob/442ae4ff68c61a03c16789d629968ad8b6a8c2fd/LovefieldService.js) is the complicated file and needs to be the starting point.

[2016-01-04 19:21] sumith1896 opened #56 "Adding Travis Continuous Integration"
On the long run, CI is needed. Travis can be setup but I am not sure if it is needed now.
I feel if we have code_quality lints, it is good to setup and run the script once on Travis.
Anyways, I need your views @jgraham @martiansideofthemoon

[2016-01-04 19:24] martiansideofthemoon commented on #56
I think this is the next step, now that wptview is growing.

[2016-01-04 19:27] martiansideofthemoon commented on #53
So we have decided going against a node server, as it isn't really needed for a set a few static files. As the project expands and the need arises, we will repoen this issue. Thanks anyway, @cruck12 :smile:

[2016-01-04 19:27] #53 closed, assigned to nobody

[2016-01-04 19:28] martiansideofthemoon commented on #50
Reopening this issue, as there is some problem with the repository. Will try to figure out why as soon as I get the time.

[2016-01-05 10:17] martiansideofthemoon commented on #40
@CodeMaxx, this was a really simple fix, try to see how it was done. Should have given you more time but it was sort of urgent and I thought you got busy as you didn't leave a comment here.

[2016-01-05 10:17] #40 closed, assigned to martiansideofthemoon

[2016-01-05 11:05] martiansideofthemoon commented on #50
So I've discovered a few things here.
1. The issue only happens on Firefox / Nightly
2. The code never proceeds beyond [this](https://github.com/jgraham/wptview/blob/e2cbfa654b95a5ce5a01ff83ea1aa9d2a0bf90fb/logcruncher.js#L37) line during the "read" command.
3. The issue has crept in after [this](https://github.com/jgraham/wptview/commit/46774f539ef65219cce128e86db36ecd442b9ff4) commit which adds

[2016-01-05 11:45] CodeMaxx commented on #40
@martiansideofthemoon Yeah adding an `if` did the job. I had just started it today so no pains.

[2016-01-05 14:02] martiansideofthemoon commented on #40
@CodeMaxx , yeah but the `else` is also really important here (Else we get stuck in an endless loop).  We can further optimize the code by moving the check to LovefieldService, (saves one query) but it isn't really necessary. If you come up with a patch (a bit less trivial, you need to understand promises), I'll reopen this bug and merge your patch. Also, do mention on the issue tracker if you sta

[2016-01-05 14:06] martiansideofthemoon commented on #13
@CodeMaxx , do you want to do this? I need to get done with #50 as soon as possible, so no time for this. As this isn't so urgent, you can take your time :smile:

[2016-01-05 14:14] martiansideofthemoon commented on #50
So I spoke to a few people and it seems Firefox doesn't support `FileReader` in web workers yet. It has been fixed and will be around in April's update. So we need to move away from `FileReader` and use `FileReaderSync` instead.

[2016-01-05 14:40] CodeMaxx commented on #13
@martiansideofthemoon I'll do this

[2016-01-05 14:41] martiansideofthemoon commented on #13
I'll update the description by night time. Assigning it to you. Do you need my half complete patch?

[2016-01-05 17:24] CodeMaxx commented on #13
@martiansideofthemoon I would like to take a look at it though I'll start my patch from scratch.

[2016-01-05 17:45] #50 closed, assigned to martiansideofthemoon

[2016-01-05 18:13] martiansideofthemoon commented on #13
@CodeMaxx I've updated the description, do tell me if you need more info

[2016-01-06 18:59] martiansideofthemoon opened #61 "Add an option to edit run names after import"

[2016-01-06 19:07] martiansideofthemoon opened #62 "Ability to add annotations and notes against a test (especially FAIL) for further processing"
Since wptview is useful for comparing structured logs, it would be a good idea to add an annotation system of some sort, which would be downloadable in the "Save" option for further usage. This would typically be added in the error panel.

[2016-01-06 19:14] martiansideofthemoon opened #63 "Add filters to find all tests in one run which don't have any result in another"
Though, not sure if this will help much. What do you think @jgraham ?

[2016-01-08 20:31] martiansideofthemoon commented on #13
@CodeMaxx , did you get a chance to dig into the code?

[2016-01-08 20:59] CodeMaxx commented on #13
Not yet. Will do by Monday.

[2016-01-08 21:10] martiansideofthemoon commented on #13
@CodeMaxx , alright !

[2016-01-09 07:26] martiansideofthemoon commented on #14
Thanks @udiboy1209 ! Remove the "urgent" tag for now. This is better than the original approach in my opinion. Let's see what @jgraham has to say about this.

[2016-01-09 18:21] udiboy1209 commented on #48
@Sumith1896 you still on this? Or I could take it up.

[2016-01-09 18:47] martiansideofthemoon commented on #48
@udiboy1209, I think @Sumith1896 is setting up Travis + Lints so I guess you can do this if you like :smile: unless @Sumith1896 has started working on this. Do you need some more information here?

[2016-01-09 20:05] udiboy1209 commented on #48
So I researched a bit, and found `$http.get('/url')` in angular which uses xhr. But the problem is cross-domain requests aren't allowed by default in javascript. And modifying the 'Access-Control-Allow-Domain' field has seurity issues I guess.

Anyone know any alternates or ways to mae this work?

[2016-01-09 21:00] martiansideofthemoon commented on #48
@udiboy1209 , did you try running it on a python `SimpleHTTPServer`? That seemed to work for me along with [this](http://stackoverflow.com/questions/17887189/how-to-handle-plain-text-server-response#30119263) to by pass angular `$http`'s JSON check.

[2016-01-09 22:51] jgraham commented on #48
Treeherder's raw logs have CORS set up with `Access-Control-Allow-Origin: *`, so cross domain requests will work without problems.

[2016-01-10 06:18] udiboy1209 commented on #48
@jgraham Okay, did not know that. I guess this can be done now. Will get on it by today evening!

[2016-01-10 22:10] udiboy1209 commented on #48
I'm stuck at trying to figure out how to use `$http` in `logcruncher.js`, becuase it has to be injested and can only run in an angular run block!

Please help!

[2016-01-11 04:39] martiansideofthemoon commented on #48
@udiboy1209 you will probably need to add the `$http` [here](https://github.com/jgraham/wptview/blob/230b54ea6755ff63b400160ed5db026bd50ad7ca/angular_scripts.js#L123) (Look at `$scope.uploadFile` to see how the file is moved to `addResultsFromLogs`). May be a condition for the "Import" button will help? Make sure that the raw file goes through [this](https://github.com/jgraham/wptview/blob/230b54e

[2016-01-11 20:34] martiansideofthemoon opened #69 "Blank options under <select> should be taken care of"
We have a number of <select> fields that have a blank option selected by default. It would be a good idea to remove all such blank options as it could lead to unforseen errors.

[2016-01-12 17:02] CodeMaxx commented on #13
@martiansideofthemoon  can you please send your half-complete patch

[2016-01-12 17:15] Manishearth commented on #69
:+1:

[2016-01-12 17:17] udiboy1209 commented on #69
+1

[2016-01-12 17:20] goutham7r commented on #69
Gulab Jamun bache hain kya?

[2016-01-12 17:21] sumith1896 commented on #69
I'm working on this.

[2016-01-12 17:24] khandelwalbharat commented on #69
nice

[2016-01-12 17:27] martiansideofthemoon commented on #69
Thanks @Sumith1896 :smile: and thanks @goutham7r for the background commentary :smile:

[2016-01-12 19:49] martiansideofthemoon commented on #13
@CodeMaxx , I'm really sorry, I think I've misplaced the patch. So I'll walk you through this patch.
The patch has essentially three steps involved.
Part 1 :- Create a sort of panel which is fixed to the bottom of the screen. It's primary role is to display the message (if any) for a given test result. This panel should open on pressing any of the results under "Actual". So this may involve adding

[2016-01-13 14:22] #69 closed, assigned to nobody

[2016-01-19 11:35] jgraham commented on #14
I think the spinner is good.

[2016-01-19 11:35] #14 closed, assigned to nobody

[2016-01-19 11:39] jgraham commented on #63
This makes sense; it would presumably be a status of "missing", which would match on the result being NULL.

[2016-01-19 16:49] martiansideofthemoon commented on #21
@jgraham , @Sumith1896 I'll start working on this bug :smile:

[2016-01-20 13:56] CodeMaxx commented on #13
@martiansideofthemoon I'll require some pointers as to how to structure the code.

[2016-01-20 14:15] #21 closed, assigned to nobody

[2016-01-21 10:16] martiansideofthemoon commented on #13
@CodeMaxx any progress ? I can explain the parts of the code you fail to understand. :smile:

[2016-01-25 15:39] jgraham opened #77 "Support showing screenshots for reftests"
When a reftest fails we save the screenshots of the test and the reference. These can currently be compared using http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml but it would be good to have this functionality in wptview.

[2016-01-25 16:21] jgraham commented on #27
Fixed by #76

[2016-01-25 16:22] jgraham commented on #13
This is currently the biggest missing piece of functionality for wptview.

@CodeMaxx Are you going to work on this? It might make sense to take a different issue if you want something smaller to start with.

[2016-01-25 16:24] #27 closed, assigned to martiansideofthemoon

[2016-01-26 09:25] martiansideofthemoon opened #78 "Treeherder integration"
The first step involved would be to make it possible to ingest a number of logs from URL / run name from the URL

[2016-01-26 17:40] martiansideofthemoon commented on #48
Thank you @udiboy1209 ! This is a great contribution.. Now we can think of some form of a [Treeherder](treeherder.mozilla.org/#/jobs?repo=mozilla-inbound) integration with this done!

[2016-01-27 05:00] martiansideofthemoon commented on #48
@jgraham , I am getting the error @udiboy1209 was facing (Access-Control-Allow-Origin) when I try to ingest via URL on [jgraham.github.io/wptview](jgraham.github.io) the first time I tried it. It has been working ever since. Does it work for you? What was the reason for weird behavior? Will close the issue if it works for you

[2016-01-27 05:16] martiansideofthemoon opened #80 "Show some form of a progress bar while logs load"
We could show a progress bar or the step on which the ingestion process is in. Log ingestion takes up to a minute.

[2016-01-27 06:56] udiboy1209 commented on #48
I tried it with the test link in README, and it worked for me. Guess this needs proper debugging.

[2016-01-27 07:50] martiansideofthemoon opened #81 "Prevent two logs from having the same run name"
If we import two logs with the same run name and file, we get a Lovefield error. We should disallow ingestion with the same run name.

[2016-01-27 10:07] jgraham commented on #48
It depends on the configuration of the remote server. If it allows cross origin requests using CORS then this will work, if not it won't. Treeherder should allow it. Possibly this needs a better error message.

[2016-01-27 19:39] martiansideofthemoon commented on #48
@jgraham , As suggested by wlach, I think we need to file a bug on Bugzilla. This doesn't seem to be an issue with wptview

[2016-01-30 09:56] robodhruv commented on #81
@martiansideofthemoon I'm interested and will be working on it...

[2016-01-30 10:09] martiansideofthemoon commented on #81
Yeah sure, you could work on this issue.
[This](https://github.com/jgraham/wptview/blob/12ad5e0b0e7d7f09958fab590e7b1e474283eec8/index.html#L51) is the input field that the filtering has to be carried out on. [This](https://github.com/jgraham/wptview/blob/12ad5e0b0e7d7f09958fab590e7b1e474283eec8/angular_scripts.js#L128) JS object has details on which runs are currently loaded. Do let me know if yo

[2016-01-30 10:33] robodhruv commented on #81
@martiansideofthemoon  yes I have it up and running.. I'll get back to you soon! :+1:

[2016-01-30 10:34] martiansideofthemoon commented on #81
Great :smile:

[2016-01-30 12:15] arpan98 commented on #81
I want to work on this issue too! I'll look through the files you have linked above.

[2016-01-30 12:40] arpan98 commented on #80
I'm interested to work on this! Could you give me some pointers on where to start and some idea about the flow of control?

[2016-01-30 12:45] martiansideofthemoon commented on #80
@arpan98 , yeah sure :smile: This feature is not so well defined, so let's do it step by step. @jgraham will  have more to say about this. I think we can start off by adding steps for log ingestion. Log ingestion primarily needs the following steps :-
1. Download the file (if URL mode)
2. Read the file
3. Add tests
4. Add test results
5. Add subtests
6. Add subtest results

If you observe the cons

[2016-01-30 13:44] robodhruv commented on #81
@martiansideofthemoon  Here's the issue resolved. have a look

[2016-01-30 14:05] arpan98 commented on #80
@martiansideofthemoon Check out the fix [https://github.com/jgraham/wptview/pull/85](url)

[2016-01-30 14:19] arpan98 commented on #61
I'm interested in this. Do you mean the name in the table? I'm still not through with the code so could you give me some place to start?

[2016-01-30 14:26] martiansideofthemoon commented on #61
@arpan98, sure you can work on this :smile: This one is probably a bit tougher than the other issue you have submitted a patch for. So yes, I mean the "Run Name" in the table. Maybe we could add a small edit icon out there. Remember, this issue will need you to run a query modifying the run name. So to start, you could look at [1] to get an idea about where the HTML lies. [2] gives you an idea abo

[2016-01-31 04:25] arpan98 commented on #61
@martiansideofthemoon What names should be disallowed? And what should happen if the user enters an invalid name? Is it possible to have two runs with different log files but same run names?

Also, what does the [selectParticularRun](https://github.com/jgraham/wptview/blob/12ad5e0b0e7d7f09958fab590e7b1e474283eec8/LovefieldService.js#L499) function do? What options do I have to get the run_id of a

[2016-02-02 05:39] arpan98 opened #88 "Import Log Button should be disabled when Upload File selected but no file uploaded."
One more condition needs to be added to the disabled condition of the Import Log button to disallow clicking without any file uploaded.

[2016-02-12 04:30] martiansideofthemoon commented on #78
The next step would be to get an enabled / disabled option for each run. We also want to store URLs to prevent reloading the same file via query string.

[2016-02-27 16:09] #48 closed, assigned to nobody

[2016-02-28 23:21] #13 closed, assigned to martiansideofthemoon

[2016-02-29 05:44] udiboy1209 commented on #36
Hey! I wanna work on this! Could you explain to me the database structure for starters, I'll move forward with that.

[2016-02-29 06:40] martiansideofthemoon commented on #36
@udiboy1209 , I'm not sure if anything much can be done here. All we do here is run the clear table query in Lovefield. The bug was originally filed when we didn't have an option to clear a single table at a time. The primary function involved is [https://github.com/jgraham/wptview/blob/master/LovefieldService.js#L466](url)
Maybe you could try running queries individually rather than in a transact

[2016-02-29 06:41] martiansideofthemoon commented on #62
@udiboy1209 , would you like to work on this? It's applicable now since we merged the error panel last night. Now you can open an error panel by clicking on the "Expected" result of a job.

[2016-02-29 08:14] udiboy1209 commented on #62
@martiansideofthemoon yes this sounds interesting :smile:! I'll work on this.

By annotations do you want something like popups we see in pdfs etc. or just a section in the error panel. If its the latter, "Comments" might be a more approriate title. And what data should the annotation/comment hold?

[2016-02-29 16:11] martiansideofthemoon commented on #62
@udiboy1209 , I meant comments, text comments

[2016-03-01 09:40] Ms2ger opened #97 "Consider consuming the w3c-test runner data format"
http://w3c-test.org/tools/runner/index.html produces some kind of json. It might be nice to be able to consume it.

[2016-03-01 10:39] martiansideofthemoon commented on #97
Yeah sounds like a good idea @Ms2ger :smile: What do you think @jgraham ?

[2016-03-01 11:27] jgraham commented on #97
I think it's such a good idea I suggested it and implemented it ;) #98 if you want to review. I need to get reviewable working again I think.

[2016-03-01 11:29] martiansideofthemoon commented on #97
@jgraham that was really quick! Would reviewable take sometime? I would prefer that when I review it

[2016-03-01 13:28] jgraham commented on #97
https://reviewable.io/reviews/mozilla/wptview/98#-

[2016-03-02 10:57] martiansideofthemoon commented on #78
https://github.com/mozilla/treeherder/pull/1321

[2016-03-02 15:05] #97 closed, assigned to jgraham

[2016-03-03 22:17] udiboy1209 opened #101 "Cursor should change to pointer when hovering over Import dropdown icon"
The two triangles are text, technically. So when I hover over them, my mouse becomes a text cursor which is default behavior. It should become a pointer (hand symbol).

The fix is pretty easy, just adding `cursor: pointer` somewhere in the css/html

[2016-03-03 22:21] martiansideofthemoon commented on #101
@udiboy1209 , yeah easy fix, could you do it?

[2016-03-04 09:21] martiansideofthemoon commented on #101
@udiboy1209 , could you put the commit in a new PR?

[2016-03-04 14:24] #101 closed, assigned to nobody

[2016-03-09 13:44] martiansideofthemoon commented on #62
@udiboy1209 Thanks! :smile: you have done some great work for this project!

[2016-03-09 13:44] #62 closed, assigned to nobody

[2016-03-09 20:25] udiboy1209 commented on #88
A cleaner fix would be to show no file selected when there's no file uploaded, i.e. clear the file input field. That will automatically disable the button and won't leave the user wondering why he can't upload. what do you think @jgraham @martiansideofthemoon ?

[2016-03-09 20:38] udiboy1209 opened #105 "Make UI more intuitive"
I vaguely remember someone suggesting to @martiansideofthemoon on IRC that the UI was pretty non-intuitive. There's some obvious improvements that come to mind that I would like to list down here
- Use the space on the right side to display results, its pretty empty now and can be used
- Add the Import dropdown , list of runs and filter controls to a sidebar on the left
- Show the list of results

[2016-03-09 20:43] martiansideofthemoon commented on #88
@udiboy1209 , yeah good idea! Would you like to work on it? Though I'd be happy if someone completes @arpan98 's patch. I want him to have the due credit :smile:

[2016-03-09 20:49] martiansideofthemoon commented on #105
@udiboy1209 I'm primarily of the opinion that the buttons need to be rearranged and made a lot larger. The results are placed well enough. I personally don't think I like the fact that the filters are so low on the page. Maybe we could push the results higher up. What do you think @jgraham ?

[2016-03-10 13:53] jgraham commented on #105
So, for comparison, changes I would like to see are:
- Filter options redesigned to take up much less vertical space (e.g. by having a single option rather than one per type of filter, like "[Path |v] [contains |v] [dom      ]", where the path dropdown would contain "Test Type", "Path, "Result" and set the rest of the line as required).
- Moving more of the options like filter and import into a to

[2016-03-10 15:49] udiboy1209 commented on #88
@arpan98 's previous PR is not required with the fix I suggest.

I guess only one line needs to be added [here](https://github.com/mozilla/wptview/blob/master/angular_scripts.js#L291) :

[code]

I would do it but I am a bit busy. @arpan98 you should make a new PR with this, its quite a small fix.

[2016-03-10 21:02] udiboy1209 commented on #105
@jgraham Your idea of keeping options in a toolbar on top also seems like a good option (better than a sidebar considering small-window-width browsers). Only that the toolbar shouldn't scroll with the results, maybe also be collapsible. There will certainnly be some optimum way of arranging options in the toolbar.

 I'll let @martiansideofthemoon comment on the filter options because I'm not aware

[2016-03-13 15:28] udiboy1209 opened #108 "Bug in Clear All because `run_id` is null when deleting comments"
I guess I missed this case when implementing #99. When `run_id` is null/undefined, as is the case with clear all, `deleteEntries` gives an error at [this line](https://github.com/mozilla/wptview/blob/master/LovefieldService.js#L495). All that is needed is a check for this [query declaration](https://github.com/mozilla/wptview/blob/master/LovefieldService.js#L492) on `run_id`. Something like [this]

[2016-03-15 07:23] martiansideofthemoon commented on #108
Yeah encountered this bug today. Will try to fix it soon

[2016-03-15 07:32] martiansideofthemoon opened #109 "Page scrolls to the top on pressing result status, can't see a comment box sometimes"
@udiboy1209 , have you encountered the same? might need some css fix up

[2016-03-15 09:59] udiboy1209 commented on #109
I have, and I told you guys about this I guess in the comments PR thread. I don't think its because of CSS, but because the result list disappears and reappears, causing browser to scroll to top when loading the status-box. Let me try a small fix I have in mind.

[2016-03-15 10:06] udiboy1209 commented on #109
I haven't yet encountered the comment box not being shown problem

[2016-03-15 11:00] martiansideofthemoon commented on #109
![image](https://cloud.githubusercontent.com/assets/8805240/13775567/3e0e63e4-eacb-11e5-9ee4-c243dc044f61.png)

[2016-03-15 11:01] martiansideofthemoon commented on #109
@udiboy1209 ^^

[2016-03-15 12:46] udiboy1209 commented on #109
Ohh this, I think it is because the Message is too long, its pushing the comment box out of the screen. Restricting the left section length will do the job.

[2016-03-15 19:03] #108 closed, assigned to martiansideofthemoon

[2016-03-15 19:10] malayaleecoder commented on #88
I would like to take this up :)

[2016-03-15 19:11] martiansideofthemoon commented on #88
@malayaleecoder , yeah sure! Do tell me if something is unclear. I think @udiboy1209 will be a good mentor here

[2016-03-20 15:52] malayaleecoder commented on #88
@martiansideofthemoon : I would need another week to look into this :( In the meantime if anyone else would like to give this a try, please do so :)

[2016-03-23 21:08] martiansideofthemoon commented on #109
Good job!

[2016-03-23 21:08] #109 closed, assigned to nobody

[2016-03-23 21:10] martiansideofthemoon opened #115 "Can't see the bottom set of Buttons / Results while the error panel is open"
We want something like this :- [https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound&selectedJob=24462486](https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound&selectedJob=24462486)

Scroll to the bottom of this page.. Try collapsing the panel after this.
@udiboy1209 , would you like to work on this?

[2016-03-23 21:18] udiboy1209 commented on #115
This should be a basic HTML fix, i think. I'll take it up :smiley:

[2016-03-23 21:20] martiansideofthemoon commented on #115
@udiboy1209 Thanks! :smile:

[2016-03-31 08:34] #115 closed, assigned to nobody

[2016-03-31 19:52] udiboy1209 commented on #22
These seem like good linters for JS/CSS: http://eslint.org/ and https://github.com/fidian/PrettyCSS

@jgraham what do other moz projects generally use?

[2016-03-31 21:10] martiansideofthemoon commented on #22
@udiboy1209 , we want `eslint`, like it's mentioned on the closed PR

[2016-03-31 21:18] udiboy1209 commented on #22
@martiansideofthemoon missed that comment on the closed PR! I can make a new PR with a travis config if you'd like. Is Travis enabled for this repo?

[2016-03-31 21:20] sumith1896 commented on #22
@udiboy1209 Work is open here https://github.com/mozilla/wptview/pull/116

[2016-03-31 21:25] udiboy1209 commented on #22
Ohh! i've been wasting my time then :stuck_out_tongue_closed_eyes:

[2016-03-31 21:31] martiansideofthemoon commented on #22
@Sumith1896 , that PR is irrelevant to the bug now

[2016-03-31 21:32] sumith1896 commented on #22
I intended to reply to the Travis query. Should have made myself more clear.

[2016-03-31 22:10] martiansideofthemoon commented on #22
@udiboy1209 , #116 tries to achieve automatic push to `gh-pages`. You can add the lint to travis in a separate PR once it's complete

[2016-04-01 08:22] #80 closed, assigned to martiansideofthemoon

[2016-04-01 08:23] #78 closed, assigned to martiansideofthemoon

[2016-04-01 15:18] #56 closed, assigned to martiansideofthemoon

[2016-04-01 15:19] martiansideofthemoon commented on #56
fixed in a series of commits following the PR

[2016-04-01 15:19] martiansideofthemoon commented on #22
@udiboy1209 , Travis CI has now been completed, you could rebase and work on this

[2016-04-04 16:51] martiansideofthemoon commented on #22
thanks @udiboy1209  :smile:

[2016-04-04 16:51] #22 closed, assigned to nobody

[2016-05-12 10:17] martiansideofthemoon opened #122 "Add visualizations (like pie charts) for test results in current filter"

[2016-05-14 12:40] nihal111 commented on #88
I've attempted a fix. Have a look @martiansideofthemoon

[2016-05-14 17:55] martiansideofthemoon commented on #88
Thanks @nihal111 :smile:

[2016-05-14 17:55] #88 closed, assigned to nobody

[2016-05-15 17:05] martiansideofthemoon opened #124 "Add unit tests for this software"

[2016-05-15 21:44] martiansideofthemoon opened #127 "Proper error handling of the various promises"

[2016-05-15 21:45] martiansideofthemoon opened #128 "Decide a model for the LEFT OUTER JOIN Clause"

[2016-05-15 21:45] martiansideofthemoon opened #129 "Take care of case where no run is enabled"
We get an error whenever none of the runs are checked in the UI. The load button should be disabled in this case if possible.

[2016-05-15 21:58] martiansideofthemoon commented on #128
@nihal111, this is the issue you pointed out. This is a lot harder than I was thinking, and we **might** need to rethink the algorithm if it is to account for all possible cases. However, https://github.com/mozilla/wptview/commit/6f069c0612be7e2aec82bb9c997a121ee3a73ca7 will help account for most use cases.

[2016-05-17 20:01] martiansideofthemoon commented on #81
Thanks @nihal111 ! :smile:

[2016-05-17 20:01] #81 closed, assigned to nobody

[2016-05-18 07:22] martiansideofthemoon opened #134 "Reorganize file structure"
I think we need to reorganize the files once before we move to adding unit tests and `npm` perhaps. It's critcal that we split the file `angular_scripts.js` into smaller more logical divisions

[2016-05-18 21:13] martiansideofthemoon commented on #129
Great idea @arpan98, I didn't know you could use filters this way :smile:

[2016-05-18 21:13] #129 closed, assigned to nobody

[2016-05-19 09:38] martiansideofthemoon commented on #61
@arpan98 finally :smile: Really good work, it wasn't so easy after all as the labels say.

[2016-05-19 09:38] #61 closed, assigned to nobody

[2016-05-19 10:44] nihal111 commented on #45
I want to work on this. Point me towards the right piece of code. @martiansideofthemoon

[2016-05-24 14:53] martiansideofthemoon opened #138 "The path filter does not work for this log"
"starts with" doesn't seem to work for this log [http://mozilla.github.io/wptview/#/?urls=http:%2F%2Fmozilla-releng-blobs.s3.amazonaws.com%2Fblobs%2Fmozilla-inbound%2Fsha512%2F73175e498ef9afea0b7d8374433e2b586f89980df9103639e359b13566e2e5d52a4d8ed33fe4b7dcf192ea4e0392202fb417518dcb70d14ea545fbe97215e346,Ubuntu%20VM%2012.04%20x64%20mozilla-inbound%20opt%20test%20mochitest-media-e10s](http://mozilla

[2016-05-28 16:55] #138 closed, assigned to nobody

[2016-05-29 08:49] martiansideofthemoon opened #141 "Blank run name in STATUS filter on adding / removing log file"

[2016-05-31 20:26] arpan98 commented on #29
I would like to work on this one! :smile:
What kind of UI are we talking about? Also, could you point me to where these warning messages are generated?

[2016-05-31 20:38] martiansideofthemoon commented on #29
So I'll first try to describe what we are dealing with here. If you look at [this](https://github.com/mozilla/wptview/blob/df999c51543905d7063bf85293153fe86f6c8d98/LovefieldService.js#L165), we are adding an anomaly in the test file to a `duplicates` object. This basically means that there are two tests in the file with the same name, and we should perhaps notify the user as a warning.
The data is

[2016-06-20 13:57] arpan98 commented on #141
Any additional details @martiansideofthemoon ?

[2016-06-20 19:46] martiansideofthemoon commented on #29
@arpan98 isn't there a way to close the warning UI? Also, it would be great if the UI is adjustable

[2016-06-20 19:53] martiansideofthemoon commented on #141
Could you address my comment on #29 before we do this?
Addition details :-
Often when you add / remove log files in the webapp, the status drop down list turns blank. It may be a good idea to put another value in place of showing blank text. Steps to reproduce -
1. Add two log files
2. Add first log file in path filter drop down list
3. Remove first log file
Alternatively, we could close all filte

[2016-06-21 05:49] arpan98 commented on #29
@martiansideofthemoon I wasn't able to understand how this might be done. So I need some help on this. Adjustable as in edges-draggable?

[2016-06-24 19:47] martiansideofthemoon commented on #105
@nihal111 this might be a good place to start. Let me know if you don't understand this

[2016-07-03 17:31] martiansideofthemoon opened #143 "Add a feature to find all tests where Expected != Actual"

[2016-08-16 09:29] edmorley opened #144 "Enable the "Enforce HTTPS" option for github pages"
Please can you force HTTPS, using the option mentioned here:
https://help.github.com/articles/securing-your-github-pages-site-with-https/

...to help avoid mixed content issues (eg in bug 1295382) and since we should be using HTTPS if we can anyway.

[2016-08-16 11:58] martiansideofthemoon commented on #144
@edmorley I personally cannot access the settings in the repository, I'm not sure if @jgraham can. Could you add me to the mozilla org / ask someone from the mozilla org to do it?

[2016-08-16 12:12] edmorley commented on #144
It needs a repo admin to do so, which I am not.

[2016-08-16 19:42] martiansideofthemoon commented on #144
@AutomatedTester can you help us?

[2016-08-16 19:52] AutomatedTester commented on #144
done

[2016-08-16 19:52] #144 closed, assigned to nobody

[2016-08-16 22:33] edmorley commented on #144
Thanks :-)

[2019-02-17 18:51] ghost opened #145 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/wptview/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of pu